/* Layout Page Styling */
header {
    margin-bottom: 50px;
}

a {
    cursor: pointer;
}

.navbar-collapse {
    width: 500px;
}

.header-action-buttons {
    position: relative;
    top: 8px;
    bottom: 10px;
}

.glyphicon {
    position: relative;
    top: 3px;
}

.header-action-buttons a {
    color: #FFFFFF;
}

footer {
    height: 25px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background:rgba(0,0,0,0.75);
    text-align: center;
    padding: 5px;
}

footer p {
    color: #FFFFFF;
}
/* End Layout Page Styling */

/* Home Page Styling */
.jumbotron {
    text-align: center;
}

.sign-in-links {
    position: relative;
    display: inline-block;
    top: 8px;
}

.sign-in-links a {
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 700;
    margin-right: 2px;
    margin-left: 2px;
}
/* End Home Page Styling */

/* Sign Up Page Styling */
.modal-content {
    padding: 10px;
}
/* End Sign Up Page Styling */

/* Sign Profile Styling */
.page-header h1 {
    font-size: 4em;
}

.page-header small {
    font-size: 0.3em;
    margin-left: 1%;
}

.form-inline {
    display: inline-block;
}

.delete-form {
    position: relative;
    right: 0;
    float: right;
}

.cancel-btn {
    display: inline-block;
    position: relative;
    right: 0;
    float: right;
    width: 100px;
}

.image-edit-input {
    width: 100%;
    margin: 2px 0 2px 0;
}

.image-edit-textarea {
    width: 100%;
    margin-bottom: 5px;
}

#imageEdit {
    display: none;
}
/* End Profile Page Styling */